<!-- lalibela_tourism/tourism/templates/tourism/attraction_form.html -->

{% extends '../base.html' %}

{% block content %}
<div class="container">
    <h1>{% if form.instance.pk %}Update{% else %}Add{% endif %} Attraction</h1>
    <form class="container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Add{% endif %}</button>
    </form>
</div>
{% endblock %}