{% load static %}


<h1 class="my-5 py-5"></h1>
<footer class="footer mt-5  pb-1" style="background-image: url({% static "tourism/5.jpeg" %})">
    <div class="container bg-dark-subtle w-50 rounded">

        <div class="contact-info d-inline-flex my-font">
          <ul class="list-unstyled">
            Contact Us
            <li>Email: info@lalibelaecotourism.com</li>
            <li>Phone: +251-900000000</li>
          </ul>
        </div>
        <p class="my-font">© 2024 Lalibela Ecotourism Ethiopia All rights reserved.</p>
        
    </div>

</footer>