{% load static %}

<footer class="footer mt-auto py-3 sticky-bottom " style="background-image: url({% static "tourism/5.jpeg" %})">
      
    <div class="container  bg-dark-subtle w-50 rounded">

        <div class="contact-info d-inline-flex my-font">
          <ul class="list-unstyled">
            Contact Us
            <li>Email: info@lalibelaecotourism.com</li>
            <li>Phone: +251-XXXXXX</li>
          </ul>
        </div>
        <p class="my-font">© 2024 Lalibela Ecotourism Ethiopia All rights reserved.</p>
        
    </div>

</footer>